.col-12 {
  width: 100%; }

.col-9 {
  width: 75%; }

.col-8 {
  width: 66.7%; }

.col-6 {
  width: 50%; }

.col-4 {
  width: 33.3%; }

.col-3 {
  width: 25%; }

.col-2 {
  width: calc(100 / 6); }

* {
  box-sizing: border-box; }

html {
  font-family: Lato, sans-serif; }

body {
  background-image: url("../img/waterbg.JPG");
  background-position: center center;
  background-attachment: fixed;
  background-size: cover;
  line-height: 1.8rem; }

.quizBody {
  max-width: 1000px;
  padding: 20px;
  margin: 0 auto; }

.js-quiz-window {
  background-color: #001729;
  color: #fafafa;
  margin: 0 auto;
  position: relative;
  min-height: 600px;
  height: auto;
  margin-bottom: 100px;
  /* purely for spacing out wireframes; this can be deleted later */
  padding: 20px;
  border-radius: 15px;
  box-shadow: 1px 1px #fafafa; }

.shark-buddy-start {
  width: 200px;
  margin: 0 auto; }

.shark-buddy {
  position: fixed;
  bottom: 0;
  right: 0; }

header {
  display: flex;
  justify-content: space-around;
  margin-top: 100px; }

header h1 {
  font-family: Alfa Slab One, serif;
  color: #fafafa;
  text-shadow: 1px 1px #b1b7d9;
  letter-spacing: 2px;
  font-weight: normal;
  font-size: 4rem;
  line-height: 4rem; }

button {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 50px;
  margin: auto;
  background-color: #537da7;
  box-shadow: 1px 1px #fafafa;
  color: #fafafa;
  width: 250px;
  padding: 15px;
  border: none;
  cursor: pointer;
  font-family: Lato, sans-serif;
  text-transform: uppercase;
  font-size: 1rem;
  font-weight: bold;
  letter-spacing: 1px;
  border-radius: 10px;
  box-shadow: 1px 1px #fafafa;
  transition: all 0.5s ease-out; }
  button:hover, button :focus {
    background-color: #fafafa;
    box-shadow: 1px 1px #537da7;
    color: #537da7; }

fieldset {
  border: none; }

label {
  display: block;
  padding: 15px;
  margin-bottom: 15px;
  background-color: #245274;
  border-radius: 10px;
  transition: all 0.5s ease-out; }
  label:hover, label :focus {
    background-color: #537da7;
    color: #fafafa;
    cursor: pointer; }

.js-progress {
  display: flex;
  justify-content: space-between;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin-bottom: 20px; }

.quiz-question {
  font-weight: 100; }

.js-feedback {
  display: flex;
  justify-content: space-around;
  text-align: center; }
  .js-feedback h2 {
    font-family: Alfa Slab One, serif;
    letter-spacing: 2px;
    font-weight: normal;
    text-transform: uppercase;
    font-size: 2.5rem; }
  .js-feedback img {
    width: 400px;
    display: block;
    margin-top: 50px;
    border-radius: 15px; }

.end-of-quiz {
  margin-top: 150px;
  font-family: Alfa Slab One, serif;
  color: #537da7;
  font-weight: normal;
  letter-spacing: 2px;
  font-size: 4rem; }

.js-results-page {
  font-size: 1.6rem; }

.js-quiz-percentage {
  font-family: Alfa Slab One, serif;
  color: #245274;
  text-shadow: 1px 1px #b1b7d9;
  font-weight: normal;
  letter-spacing: 2px;
  font-size: 5rem;
  margin-bottom: 200px; }

@media screen and (max-width: 728px) {
  .col-9 {
    width: 100%; }
  header h1 {
    font-size: 3rem;
    margin-top: 80px; }
  .shark-buddy img {
    width: 150px; }
  .shark-buddy-start img {
    width: 200px; }
  .js-progress {
    font-size: 0.7rem; }
  .js-feedback img {
    max-width: 200px;
    margin: 0 auto;
    margin-top: 100px; }
  .js-feedback h2 {
    font-size: 2rem; }
  .js-quiz-window header {
    margin-top: 0px; }
  .js-quiz-window header h1 {
    font-size: 2rem; }
  .quiz-question {
    font-size: 1.2rem; }
  label {
    padding: 10px;
    margin-bottom: 10px; } }
