// CSS GRID
.col-12 {
    width: 100%;
  }
  
  .col-9 {
    width: 75%;
  }
  
  .col-8 {
    width: 66.7%;
  }
  
  .col-6 {
    width: 50%;
  }
  
  .col-4 {
    width: 33.3%;
  }
  
  .col-3 {
    width: 25%;
  }
  
  .col-2 {
    width: calc(100 / 6);
  }