@import 'grid';

// SASS VARIABLES
$color-dark: #001729;
$color-light: #fafafa;
$accent-1: #537da7;
$accent-2: #245274;
$accent-3: #18455a;
$accent-4: #b1b7d9;
$font-main: Lato, sans-serif;
$font-header: Alfa Slab One, serif;

// MIXINS
@mixin easeOut {
  transition: all 0.5s ease-out;
}

// STYLING
* {
  box-sizing: border-box;
}

html {
  font-family: $font-main;
}

body {
  background-image: url('../img/waterbg.JPG');
  background-position: center center;
  background-attachment: fixed;
  background-size: cover;
  line-height: 1.8rem;
}

.quizBody {
  max-width: 1000px;
  padding: 20px;
  margin: 0 auto;
}

.js-quiz-window {
  background-color: $color-dark;
  color: $color-light;
  margin: 0 auto;
  position: relative;
  min-height: 600px;
  height: auto;
  margin-bottom: 100px; /* purely for spacing out wireframes; this can be deleted later */
  padding: 20px;
  border-radius: 15px;
  box-shadow: 1px 1px $color-light;
}

.shark-buddy-start {
  width: 200px;
  margin: 0 auto;
}

.shark-buddy {
  position: fixed;
  bottom: 0;
  right: 0;
}

header {
  display: flex;
  justify-content: space-around;
  margin-top: 100px;
}

header h1 {
  font-family: $font-header;
  color: $color-light;
  text-shadow: 1px 1px $accent-4;
  letter-spacing: 2px;
  font-weight: normal;
  font-size: 4rem;
  line-height: 4rem;
}

button {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 50px;
  margin: auto;

  background-color: $accent-1;
  box-shadow: 1px 1px $color-light;
  color: $color-light;
  width: 250px;
  padding: 15px;
  border: none;
  cursor: pointer;
  font-family: $font-main;
  text-transform: uppercase;
  font-size: 1rem;
  font-weight: bold;
  letter-spacing: 1px;

  border-radius: 10px;
  box-shadow: 1px 1px $color-light;
  @include easeOut;

  &:hover, :focus {
    background-color: $color-light;
    box-shadow: 1px 1px $accent-1;
    color: $accent-1;
  }
}

fieldset {
  border: none;
}

label {
  display: block;
  padding: 15px;
  margin-bottom: 15px;
  background-color: $accent-2;
  border-radius: 10px;
  @include easeOut;

  &:hover, :focus {
    background-color: $accent-1;
    color: $color-light;
    cursor: pointer;
  }
}

.js-progress {
  display: flex;
  justify-content: space-between;
  
  text-transform: uppercase;
  letter-spacing: 1px;
  margin-bottom: 20px;
}

.quiz-question {
  font-weight: 100;
}

.js-feedback {
  display: flex;
  justify-content: space-around;
  text-align: center;

  h2 {
    font-family: $font-header;
    letter-spacing: 2px;
    font-weight: normal;
    text-transform: uppercase;
    font-size: 2.5rem;
  }

  img {
    width: 400px;
    display: block;
    margin-top: 50px;
    border-radius: 15px;
  }
}

.end-of-quiz {
  margin-top: 150px;

  font-family: $font-header;
  color: $accent-1;
  font-weight: normal;
  letter-spacing: 2px;
  font-size: 4rem;
}

.js-results-page {
  font-size: 1.6rem;
}

.js-quiz-percentage {
  font-family: $font-header;
  color: $accent-2;
  text-shadow: 1px 1px $accent-4;
  font-weight: normal;
  letter-spacing: 2px;
  font-size: 5rem;
  margin-bottom: 200px;
}

// MEDIA QUERIES
@media screen and (max-width: 728px) {
  .col-9 {
    width: 100%;
  }
  header h1 {
    font-size: 3rem;
    margin-top: 80px;
  }
  .shark-buddy img {
    width: 150px;
  }
  .shark-buddy-start img {
    width: 200px;
  }
  .js-progress {
    font-size: 0.7rem;
  }
  .js-feedback {
    img {
      max-width: 200px;
      margin: 0 auto;
      margin-top: 100px;
    }
    h2 {
      font-size: 2rem;
    }
  }
  .js-quiz-window header {
    margin-top: 0px;
  }
  .js-quiz-window header h1 {
    font-size: 2rem;
  }
  .quiz-question {
    font-size: 1.2rem;
  }
  label {
    padding: 10px;
    margin-bottom: 10px;
  }
}