* {
    box-sizing: border-box;
}

html {
    font-family: Lato;
    font-size: 16px;
}

body {
    background-image: url(img/waterbg.JPG);
    background-position: center center;
    background-attachment: fixed;
    background-size: cover;
}

/* CSS GRID! */

.col-12 {
    width: 100%;
}

.col-9 {
    width: 75%;
}

.col-8 {
    width: 66.7%;
}

.col-6 {
    width: 50%;
}

.col-4 {
    width: 33.3%;
}

.col-3 {
    width: 25%;
}

.col-2 {
    width: calc(100 / 6);
}

h1 {
    font-size: 3rem;
}

main {
    max-width: 1000px;
    padding: 20px;
    margin: 0 auto;
}

.js-quiz-window {
    background-color: #001729;
    color: #b1b7d9;
    margin: 0 auto;
    position: relative;
    height: 450px;
    margin-bottom: 100px; /* purely for spacing out wireframes; this can be deleted later */
    padding: 20px;
    /* outline: 4px solid #cccccc; */
}

fieldset { border: none; }

label {
    display: block;
}

.js-progress {
    position: absolute;
}

header {
    display: flex;
    justify-content: space-around;
    margin-top: 100px;
}

header h1 {
    color: #fafafa;
    font-size: 3rem;
}